<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>549205418956-b4lf2vbntmhn08sav4t4a0a1s7ljfr8e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.549205418956-b4lf2vbntmhn08sav4t4a0a1s7ljfr8e</string>
	<key>API_KEY</key>
	<string>AIzaSyCGngebbMZicxz-JDBPO56kQBeSNmCbllk</string>
	<key>GCM_SENDER_ID</key>
	<string>549205418956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sfoxpro.roumnew</string>
	<key>PROJECT_ID</key>
	<string>roum-cced2</string>
	<key>STORAGE_BUCKET</key>
	<string>roum-cced2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:549205418956:ios:0dc67f843d39dd42</string>
	<key>DATABASE_URL</key>
	<string>https://roum-cced2.firebaseio.com</string>
</dict>
</plist>